# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



BE/src/main/resources/application.yml
BE/src/main/resources/application.properties
BE/src/main/resources/application_secret.properties


BE/gradle/.env
.DS_Store